#module3_1 {
    .cap1 {
        background: url("./compatibility1.png") 0 no-repeat;
        height: 250px;
        width: 600px;
    }

    .cap2 {
        background: url("./compatibility2.png") 0 no-repeat;
        height: 250px;
        width: 600px;
    }
}