#third-menu {
    .menu-ul {
        width: 600px;

        .menu-li {
            display: inline-block;
            width: 100px;
            border: 1px solid #DCDFE6;
            cursor: pointer;
            border-radius: 4px;
            overflow: hidden;
        }

        .menu-content {
            padding: 4px 10px;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }
    }
}